<!DOCTYPE html>
<html lang="ru">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
 
    <style>
 
        body {
            background-color: #e4e7f9;
            font-family: Verdana;
            text-align: center;
        }
 
        form {
            background-color: #fff;
            max-width: 800px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }

        button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ccccff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
        }
      
      .main_text{
      color: #ccccff; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 40px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}
      
      .q_text{
      color: #310062; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 20px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}

        .dashboard {
            text-align: right;
            margin-bottom: 25px;
            font-size:20px;
            padding: 25px;
        }
      
      .c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
}

    </style>
</head>

  <body>
    <form>
    
     <h1 class = "main_text">Ответьте на пару вопросов и мы подберем вам фильмец!</h1>


      <h2 class= "q_text">Отметьте жанры, на которые хотелось бы глянуть!  </h2>
      <div>
      <input type="checkbox" id="Детектив" name="Детектив">
      <label for="Детектив">Детектив</label>
    </div>

    <div>
      <input type="checkbox"  id="Ужасы" name="Ужасы">
      <label for="Ужасы">Ужасы</label>
    </div>
       <div>
      <input type="checkbox" id="Триллер" name="Триллер">
      <label for="Триллер">Триллер</label>
    </div>
       <div>
      <input type="checkbox"  id="Приключения" name="Приключения">
      <label for="Приключения">Приключения</label>
    </div>
       <div>
      <input type="checkbox"  id="Комедия" name="Комедия">
      <label for="Комедия">Комедия</label>
    </div>
       <div>
      <input type="checkbox"  id="Драма" name="Драма">
      <label for="Драма">Драма</label>
    </div>
       <div>
      <input type="checkbox"  id="Фэнтези" name="Фэнтези">
      <label for="Фэнтези">Фэнтези</label>
    </div>
       <div>
      <input type="checkbox"  id="Фантастика" name="Фантастика">
      <label for="Фантастика">Фантастика</label>
    </div>
       <div>
      <input type="checkbox"  id="Экшен" name="Экшен">
      <label for="Экшен">Экшен</label>
    </div>
       <div>
      <input type="checkbox"  id="Детектив" name="Детектив">
      <label for="Детектив">Детектив</label>
    </div>
       <div>
      <input type="checkbox"  id="Исторический" name="Исторический">
      <label for="Исторический">Исторический</label>
    </div>
       <div>
      <input type="checkbox"  id="Документальный" name="Документальный">
      <label for="Документальный">Документальный</label>
    </div>
       <div>
      <input type="checkbox"  id="Боевик" name="Боевик">
      <label for="Боевик">Боевик</label>
    </div>
       <div>
      <input type="checkbox"  id="Мистика" name="Мистика">
      <label for="Мистика">Мистика</label>
    </div>

      <h2 class= "q_text">Год выхода фильма тоже иногда важен! </h2>
      
       <div>
      <input type="checkbox"  id="1980-1989" name="1980-1989">
      <label for="1980-1989">1980-1989</label>
    </div>
      <div>
      <input type="checkbox"  id="1990-1999" name="1990-1999">
      <label for="1990-1999">1990-1999</label>
    </div>
      <div>
      <input type="checkbox"  id="2000-2009" name="2000-2009">
      <label for="2000-2009">2000-2009</label>
    </div>
      <div>
      <input type="checkbox"  id="2010-2019" name="2010-2019">
      <label for="2010-2019">2010-2019</label>
    </div>
      <div>
      <input type="checkbox"  id="2020-2022" name="2020-2022">
      <label for="2020-2022">2020-2022</label>
    </div>
      
       <h2 class= "q_text">Страна производства фильма! </h2>
       <div>
      <input type="checkbox"  id="США" name="США">
      <label for="США">США</label>
    </div>
      <div>
      <input type="checkbox"  id="Россия" name="Россия">
      <label for="Россия">Россия</label>
    </div>
      <div>
      <input type="checkbox"  id="СССР" name="СССР">
      <label for="СССР">СССР</label>
    </div>
      <div>
      <input type="checkbox"  id="Великобритания" name="Великобритания">
      <label for="Великобритания">Великобритания</label>
    </div>
      <div>
      <input type="checkbox"  id="Испания" name="Испания">
      <label for="Испания">Испания</label>
    </div>
      <div>
      <input type="checkbox"  id="Италия" name="Италия">
      <label for="Италия">Италия</label>
    </div>
      <div>
      <input type="checkbox"  id="Франция" name="Франция">
      <label for="Франция">Франция</label>
    </div>
      <div>
      <input type="checkbox"  id="Германия" name="Германия">
      <label for="Германия">Германия</label>
    </div>
      <div>
      <input type="checkbox"  id="Бельгия" name="Бельгия">
      <label for="Бельгия">Бельгия</label>
    </div>
      <div>
      <input type="checkbox"  id="Швеция" name="Швеция">
      <label for="Швеция">Швеция</label>
    </div>
      <div>
      <input type="checkbox"  id="Австрия" name="Австрия">
      <label for="Австрия">Австрия</label>
    </div>

     

      <h2 class= "q_text">Время оценочек критиков!  </h2>

      
      <div>
      <input type="checkbox"  id="1" name="1">
      <label for="1">10.0-9.8</label>
    </div>
      <div>
      <input type="checkbox"  id="2" name="2">
      <label for="2">9.7-9.5</label>
    </div>
      <div>
      <input type="checkbox"  id="3" name="3">
      <label for="3">9.4-9.2</label>
    </div>
      <div>
      <input type="checkbox"  id="4" name="4">
      <label for="4">9.1-8.9</label>
    </div>
      <div>
      <input type="checkbox"  id="5" name="5">
      <label for="5">8.8-8.6</label>
    </div>
       <div>
      <input type="checkbox"  id="6" name="6">
      <label for="6">8.5-8.3</label>
    </div>
       <div>
      <input type="checkbox"  id="7" name="7">
      <label for="7">8.2-8.0</label>
    </div>
        
    <button type="submit" value="submit"> Найти :) </button>
    </form>

    
    
  </body>
    <div class = "dashboard">
    <button class = "c-button"><%= link_to "Главная страница",    root_path %></button> 
     <button class = "c-button"> <%= link_to "Избранное",    favourites_path %></button>
     <button class = "c-button"> <%= link_to "Войти", login_path %></button>
      <button class = "c-button"> <%= link_to "Помощь",   help_path %></button>
    </div>