<!DOCTYPE html>
<html lang="ru">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
 
    <style>
      
       .table {
        font-family:Sans-Serif;
        font-size: 16px;
        width: 100%;
        text-align: center;
        border: none;
        background: #fff;
        margin: 10px;
    }

    .table thead th {
        color: #9932CC;
        border-bottom: 2px solid #9932CC;
        border-right: none;
        padding: 7px 17px;
    }

    .table tbody th {
        color: #9932CC;
        border-bottom: 2px solid #e4e7f9;
        border-right: 2px solid #e4e7f9;
        padding: 7px 17px;
    }

    .table tbody tr td:hover td {
        text-decoration: underline;
    }

        body {
            background-color: #e4e7f9;
            font-family: Verdana;
            text-align: center;
        }
 
        form {
            background-color: #fff;
            max-width: 800px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }

        button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ccccff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
        }
      
      .main_text{
      color: #ccccff; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 40px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}
      
      .q_text{
      color: #310062; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 20px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}

        .dashboard {
            text-align: right;
            margin-bottom: 25px;
            font-size:20px;
            padding: 25px;
        }
      
      .c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
}
       .q-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
}

    </style>

</head>

  <body>
    <form>
     <%= render 'layouts/header' %>
     <h1 class = "main_text">Ответьте на пару вопросов и мы подберем вам фильмец!</h1>


      <h2 class= "q_text">Год выхода фильма иногда важен! </h2>
       <div>
      <input type="checkbox" id="1920-1929" name="year">
      <label for="1920-1929">1920-1929</label>
    </div> 
        <div>
      <input type="checkbox"  id="1930-1939" name="year">
      <label for="1930-1939">1930-1939</label>
    </div> 
       <div>
      <input type="checkbox"  id="1940-1949" name="year">
      <label for="1940-1949">1940-1949</label>
    </div> 
       <div>
      <input type="checkbox"  id="1950-1959" name="year">
      <label for="1950-1959">1950-1959</label>
    </div> 
       <div>
      <input type="checkbox"  id="1960-1969" name="year">
      <label for="1960-1969">1960-1969</label>
    </div>
       <div>
      <input type="checkbox"  id="1970-1979" name="year">
      <label for="1970-1979">1970-1979</label>
    </div>
       <div>
      <input type="checkbox"  id="1980-1989" name="year">
      <label for="1980-1989">1980-1989</label>
    </div>
      <div>
      <input type="checkbox"  id="1990-1999" name="year">
      <label for="1990-1999">1990-1999</label>
    </div>
      <div>
      <input type="checkbox"  id="2000-2009" name="year">
      <label for="2000-2009">2000-2009</label>
    </div>
      <div>
      <input type="checkbox"  id="2010-2019" name="year">
      <label for="2010-2019">2010-2019</label>
    </div>
      <div>
      <input type="checkbox"  id="2020-2022" name="year">
      <label for="2020-2022">2020-2022</label>
    </div>

      <h2 class= "q_text">Время оценочек критиков!  </h2>
      
      <div>
      <input type="checkbox"  id="1" name="mark">
      <label for="1">10.0-9.8</label>
    </div>
      <div>
      <input type="checkbox"  id="2" name="mark">
      <label for="2">9.7-9.5</label>
    </div>
      <div>
      <input type="checkbox"  id="3" name="mark">
      <label for="3">9.4-9.2</label>
    </div>
      <div>
      <input type="checkbox"  id="4" name="mark">
      <label for="4">9.1-8.9</label>
    </div>
      <div>
      <input type="checkbox"  id="5" name="mark">
      <label for="5">8.8-8.6</label>
    </div>
       <div>
      <input type="checkbox"  id="6" name="mark">
      <label for="6">8.5-8.3</label>
    </div>
       <div>
      <input type="checkbox"  id="7" name="mark">
      <label for="7">8.2-8.0</label>
    </div>
        
    <button class = "q-button"> Найти</button>
    </form>

  <table class='table'>
  <thead>
  <tr>
    <th>Rang</th>
    <th>Film name</th>
    <th>Full name</th>
    <th>Year</th>
    <th>Image</th>
    <th>The actors</th>
    <th>Rating</th>
    <th>Rating Count</th>
  </tr>
  </thead>
</table>
    <tbody>
      
    </tbody>

  </body>