<% provide(:title, "Help") %>
  <head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
 
    <style>

       body {
            background-color: #e4e7f9;
            font-family: Verdana;
            text-align: center;
        }
      form {
            background-color: #fff;
            max-width: 3000px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
      
      .main_text{
      color: #ccccff; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 40px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}

       .dashboard {
            text-align: right;
            margin-bottom: 25px;
            font-size:20px;
            padding: 25px;
        }
      .c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #310062;
  padding: 8px 16px;
  font-size: 16px;
}
      
    </style>
  </head>
  <body>
    <form>
<h1 class = "main_text">Help</h1>
<p>
  Получите помощь по учебному пособию Ruby on Rails на
  <a href="http://www.railstutorial.org/#help">Раздел справки по учебному пособию Rails</a>.
</p>
      <p> Чтобы получить справку по этому образцу приложения, смотрите
  <a href="http://www.railstutorial.org/book">Учебное пособие по Ruby on Rails</a>.
</p>
    </form>
  </body>
  
  </div>
    <div class = "dashboard">
    <button class = "c-button"><%= link_to "Главная страница",    root_path %></button> 
     <button class = "c-button"> <%= link_to "Подобрать фильм",   questions_path %></button>
     <button class = "c-button"> <%= link_to "Избранное",    favourites_path %></button>
     <button class = "c-button"> <%= link_to "Войти", '#' %></button>
    </div>